.git/
.gitignore
**/*.md
backend/.gradle/
.gradle/
backend/build/
backend/*/build/
backend/*/bin/
frontend/unikly-app/node_modules/
frontend/unikly-app/dist/
frontend/unikly-app/.angular/
infra/.env
*.env.local
docs/
